* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D9EDE6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #BCE3D9;
    padding: 0 5%;
    margin-bottom: 20px;
}

.top-bar-1,
.top-bar-2 {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.logo img {
    width: 5rem;
    height: 5rem;
}

.logo-texto {
    background-color: #A9E1D5;
    border-radius: 20px;
    color: #2E387D;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    font-size: 20px;
}

.sesion-text {
    background-color: #52BDA7;
    border-radius: 20px;
    color: #2E387D;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

.inicio-contenedor {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 0 30px;
}

.texto1{
    color: #5452bd;
}
.barra-separadora {
    border-top: 2px solid #aeb3d8;
    width: 97%;
    margin: 20px 20px 0;
    background-color: #aeb3d8;
    margin-left: 30px;
    margin-right: 1px;
}

.contenedor {
    background-color: #c5d6e0;
    padding: 60px 40px;
    width: 350px;
    height: auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imag {
    width: 100px;
    margin-bottom: 20px;
}

h2 {
    color: #5452bd;
    font-size: 32px;
    margin-bottom: 20px;
}

input {
    background-color: #aeb3d8;
    border: none;
    margin-top: 15px;
    font-size: 16px;
    padding: 10px 20px;
    outline: none;
    width: 100%;
    border-radius: 5px;
}

.boton {
    cursor: pointer;
    color: #fbfdfb;
    font-size: 18px;
    font-weight: 400;
    background-color: #5ebc52;
    border-radius: 50px;
    margin-top: 30px;
    padding: 10px 0;
    width: 100%;
    border: none;
}

.boton:hover {
    background-color: #92c99a;
}

.olvido {
    color: #5452bd;
    margin-top: 20px;
    display: block;
}

::placeholder {
    color: #3a4486;
    font-weight: 600;
}
@media (max-width: 768px) {
    .contenedor {
        width: 90%;
        padding: 2rem 1.5rem;
    }

    .top-bar {
        padding: 1rem;
        width: 94%;
    }

    .logo-texto, .sesion-text {
        font-size: 1rem;
    }
    .regis-text{
        padding-right: 5rem;
    }
    .inp{
        width: 90%;        
    }

    .profile{
        padding-right: 5rem ;
    }
}